
</div>
<div class="footer-padding"></div>
  <div class="footer">
    <p>Made with ❤️ by Bhagirath Makwana</p>
    <h3 class="mail"><a href="mailto:bhagirathsinhmakwana2001@gmail.com"> mail me</a></h3>
  </div>
</div>
</body>
</html>
