<%- include("partials/header"); -%>

    <div class="image">
        <img src="/img/404(2).jpg" alt="">
    </div>

    <h1 class="nullState">
        Go 
        <a href="/">Home</a>
    </h1>

    <%- include("partials/footer"); -%>